@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #eee;
  background-color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  border: 0;
}

:root {
  --point-color: #0abab5;
}

.hide {
  display: none;
}

#w3a-modal {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}
