@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #eee;
  background-color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  /* max-width: 100%;
  aspect-ratio: 1/1; */
  border: 0;
}

:root {
  --point-color: #0abab5;
}

.hide {
  display: none;
}

#w3a-modal {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}

.subtitle-h1 {
  font-weight: 300;
  padding-block: 1rem;
  font-size: 1.8rem;
  color: #eee;
  border-bottom: 1px solid #888;
}

.movie-modal {
  background-color: black;
  margin-top: 2rem;
  padding: 50px;
  width: min(80%, 670px);
  margin-inline: auto;
  border: 1px solid #eee;
  border-radius: 10px;
}
.movie-modal > h2 {
  color: white;
}

.movie-modal > p {
  font-size: 0.75rem;
  color: #eee;
  display: flex;
  gap: 0.5rem;
}
.movie-modal > p > span {
  color: #aaa;
}

.movie-description > img {
  width: 150px;
  border-radius: 5px;
}

.movie-description {
  display: flex;
  gap: 10px;
}
.movie-description > div > h3 {
  margin: 0.25rem 0;
}
.movie-description > div > p {
  padding: 0.25rem 0.5rem;
}
.movie-description > div > p > span {
  color: gray;
  font-size: 0.9rem;
  margin-right: 1rem;
}
.movie-description > div > p:last-child {
  padding: 0.25rem 0;
}

.movie-description > span {
}

.movie-video {
  max-width: 100% !important;
  display: flex;
  justify-content: center;
  margin-block: 2rem;
}

.movie-payment {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #eee;
}

.movie-input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.movie-sec {
  position: absolute;
  right: 14px;
}

.movie-amount {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-top: 2rem;
}

.movie-amount > div:first-child {
  padding-bottom: 1rem;
  border-bottom: 1px dotted #eee;
}
.movie-pay {
  padding-block: 1rem;
  font-size: 1.3rem;
}

.movie-pay + button {
  color: white;
  background-color: #0abab5;
  padding: 1rem 3rem;
  cursor: pointer;
  border-radius: 5px;
}

#quantity {
  margin-inline: 10px;
  outline: none;
  background-color: black;
  border: none;
  font-size: 1.2rem;
  text-align: right;

  color: white;
  width: 18rem;

  border: 1px solid #eee;
  padding: 0.5rem 3rem 0.5rem 1rem;
}

/* 
@media screen and(min-width:950px) {
  :root {
    font-size: 30px;
  }
} */

.sub-header {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  margin-top: 10px;
  padding-bottom: 2rem;
}
.credential-container {
  display: flex;
  flex-wrap: wrap;

  gap: 20px 5px;
}
.mypage {
  min-height: 70vh;
}

.margin-20px {
  margin-top: 20px;
}

.vc {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid gray;
}

.vc > svg {
  width: 10px;
}

#link {
  color: #e45635;
  display: block;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
}
#link:hover {
  color: #cccccc;
}

#link,
#link:hover {
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -ms-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

/** BEGIN CSS **/

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@keyframes loading-text-opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes loading-text-opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes loading-text-opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes loading-text-opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading-container,
.loading {
  height: 30px;
  position: relative;
  width: 30px;
  border-radius: 100%;
}

.loading-container {
  margin: 40px auto;
}

.loading {
  border: 2px solid transparent;
  border-color: transparent #fff transparent #fff;
  -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
  -moz-transform-origin: 50% 50%;
  -o-animation: rotate-loading 1.5s linear 0s infinite normal;
  -o-transform-origin: 50% 50%;
  -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
  -webkit-transform-origin: 50% 50%;
  animation: rotate-loading 1.5s linear 0s infinite normal;
  transform-origin: 50% 50%;
}

.loading-container:hover .loading {
  border-color: transparent #e45635 transparent #e45635;
}
.loading-container:hover .loading,
.loading-container .loading {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#loading-text {
  -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
  -o-animation: loading-text-opacity 2s linear 0s infinite normal;
  -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
  animation: loading-text-opacity 2s linear 0s infinite normal;
  color: #ffffff;
  font-family: "Helvetica Neue, " Helvetica ", " "arial";
  font-size: 10px;
  font-weight: bold;
  margin-top: 45px;
  opacity: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100px;
}

.margin-20px > div > p {
  font-size: 0.8rem;
  padding-inline: 0.25rem 0.5rem !important;
}

.loading-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
